body {
    font-family: 'Poppins', sans-serif; /* Updated main font */
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Changed to min-height for responsiveness */
  }
  
  .container {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    text-align: center; /* Center align contents */
    margin-top: 50px; /* Adjusted margin-top for spacing */
  }
  
  .header {
    font-size: 36px; /* Adjusted font size */
    font-weight: bold;
    background-color: #4CAF50;
    color: #fff;
    padding: 20px;
    margin: 0;
    border-bottom: 4px solid #388E3C;
  }
  
  .task-form {
    padding: 20px;
  }
  
  .task-input {
    padding: 15px;
    font-size: 16px; /* Adjusted font size */
    border: 2px solid #4CAF50;
    border-radius: 8px;
    outline: none;
  }
  
  .add-button, .delete-button {
    padding: 10px 20px; /* Smaller padding for delete button */
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  .add-button:hover, .delete-button:hover {
    background-color: #388E3C;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  